<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/registration}">Registration</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/login}">
                Sign in</a>
        </div>
    </div>
</nav>
</body>
</html>